<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="style.css">
    <title>Tus Ahorros $$$</title>
</head>
<body>
    <header>
        <div class="nav">
            <ul>
                <li><a href="login.html" target="_blank">Ingresar</a></li>
                <li><a href="">Registrarme</a></li>
            </ul>
        </div>

    </header>
    <div class="bienvenida">
        <h1>Bienvenido/a</h1>
        <h2>Estás un día más cerca de lograr tu objetivo!</h2>
    </div>
</body>
</html>