<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="style1.css">
    <title>Login</title>
</head>
<body>
    <form class="login" method="post">
        <div id="usuario">
            <label class="etiqueta_usuario">Usuario:</label>
            <input name="username" type="text" class="usuario" placeholder="Nombre de usuario">
        </div>
        <div id="password">
            <label class="etiqueta_contraseña">Contraseña:</label>
            <input type="password" name="password" class="password" placeholder="Ingrese su contraseña">
        <div>
            <button class="ingresar" type="submit">Ingresar</button>
        </div>
    </form>

</body>
</html>